<a href="https://colab.research.google.com/github/AlexNoonan-Syracuse/BigDataProject/blob/main/TreasuryData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import datetime as dt
import numpy as np


url = 'https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yieldAll'

r = requests.get(url)
html = r.text

In [ ]:
# gathering the web page and creating a dataframe of the treasury history
soup = BeautifulSoup(html)
table = soup.find('table', {"class": "t-chart"})
rows = table.find_all('tr')
data = []
for row in rows[1:]:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])

tre_hist = pd.DataFrame(data, columns=['Date', 'One_Mo', 'Two_Mo', 'Three_Mo', 'Six_Mo', 'One_Yr', 'Two_Yr', 'Three_Yr', 'Five_Yr', 'Seven_Yr', 'Ten_Yr', 'Twenty_Yr', 'Thirty_Yr'])

tre_hist.replace(to_replace='N/A', value=0, inplace=True)
tre_hist = tre_hist.astype({'One_Mo':'float64', 'Two_Mo':'float64', 'Three_Mo':'float64', 'Six_Mo':'float64', 'One_Yr':'float64', 'Two_Yr':'float64', 'Three_Yr':'float64', 'Five_Yr':'float64', 'Seven_Yr':'float64', 'Ten_Yr':'float64', 'Twenty_Yr':'float64', 'Thirty_Yr':'float64'})
tre_hist['Date'] = pd.to_datetime(tre_hist['Date'], format="%m/%d/%y")

        Date  One_Mo  Two_Mo  Three_Mo  ...  Seven_Yr  Ten_Yr  Twenty_Yr  Thirty_Yr
0 1990-01-02     0.0     0.0      7.83  ...      7.98    7.94        0.0       8.00
1 1990-01-03     0.0     0.0      7.89  ...      8.04    7.99        0.0       8.04
2 1990-01-04     0.0     0.0      7.84  ...      8.02    7.98        0.0       8.04
3 1990-01-05     0.0     0.0      7.79  ...      8.03    7.99        0.0       8.06
4 1990-01-08     0.0     0.0      7.79  ...      8.05    8.02        0.0       8.09

[5 rows x 13 columns]
7896